################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/samples/SampleConsoleApp/bin/Debug/net8.0
/samples/SampleConsoleApp/obj
/src/FeatureManager/obj
/src/FeatureManager/bin/Debug/net8.0
.vs/**.*
/.vs/All/CopilotIndices/17.12.78.46542
/.vs/All
/samples/feature_manager_remote_demo/.vs/ProcessFeatureDemo
/samples/feature_manager_remote_demo/bin/Debug/net8.0
/samples/feature_manager_remote_demo/obj
/.vs
/samples/feature_manager_remote_demo/.vs/ProjectEvaluation
/v2/FeatureManagerFramework/bin/Debug/net8.0
/v2/FeatureManagerFramework/obj
/v2/SampleApp/.vs
/v2/SampleApp/bin/Debug/net8.0
/v2/SampleApp/obj
/v2/SamplePlugin/bin/Debug/net8.0
/v2/SamplePlugin/obj
